<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>QuickSite</title>
	<%- include("../partials/head") %>
</head>
<body style="background: #696969;">
	<%- include("../partials/navbar")%>
	
	<div class="container mt-3 text-center">

		<h1 class="text-light p-3 mb-4 display-1 bg-gradient" style="background: #3d5fe6; border-radius: 5px;">Lav en hjemmeside du er stolt af!</h1>

		<p class="bg-light rounded p-2 lead" style="width: 80%; position: relative; display: inline-block;">
			Opret din helt egen hjemmeside hurtigt og uden at skulle tænke på alt det der med hosting osv. Det skal vi nok tage os af. Du indtaster bare dine oplysninger, vælger en skabelon og vi klarer resten for dig.
		</p>

		<img class="shadow" style="width: 80%; object-fit: cover; object-position: top; vertical-align: top;" src="/public/quick-site-2.png" alt="">

	</div>

</body>
</html>